*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent; 
  -webkit-font-smoothing: antialiased;      
  -moz-osx-font-smoothing: grayscale;       
}



.encabezado {
   display: flex; 
   justify-content: space-between; 
   align-items: center; 
   padding:  3rem; 
   height: 100px; 
   background-color: yellow; 
   border: ridge,6px, darkblue;
   border-radius: 20px;
   margin: 0.5vw;
}

.titulo {
color: coral; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2vw; 
text-align: center; 
}

.enlace1, .enlace2 {
display: block; 
padding: 10px 20px; 
text-decoration: none; 
background-color: coral; 
color: yellow; 
border-radius: 5px; 
text-align: center; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px; 
width: 150px;
height: 40px;
transition: transform 0.1s ease;
}

.enlace1:hover, .enlace2:hover {
  transform: scale(0.75);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}



.contadores{
  display: flex;
  border: solid,5px,blue;
  border-radius: 15px;
  width: 50vw; 
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%; 
  margin-top: 2%;
  padding-bottom: 20px;
  background-color: black;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 1.1vw;
  flex-wrap: wrap;
  position: sticky;
  top: 5px;
} 

.contadormas {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: solid, 4px, lightgreen;
border-radius: 5px;
width: 15vw;
height: 6vh;
background-color: lightgreen;
color: green;
margin: 5px;
margin-top: 10px;
box-shadow: 0 0 15px 5px #90EE90;

}

.contadorep {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: solid, 4px,yellow;
border-radius: 5px;
width: 15vw;
height: 6vh;
background-color: yellow;
color: orange;
margin: 5px;
margin-top: 10px;
box-shadow: 0 0 15px 5px #FFFF00;
}

.contadormenos {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: solid, 4px, lightcoral;
border-radius: 5px;
width: 15vw;
height: 6vh;
background-color: lightcoral;
color: red;
margin: 5px;
margin-top: 10px;
box-shadow: 0 0 15px 5px #F08080;
}

.animacion {
color: yellow;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1vw;
min-width: 18vw;
margin-left: 10px; 
   
}


.pantallas {
display: flex; 
justify-content:space-evenly; 
align-items: center; 
flex-wrap: wrap; 
margin-top: 2%;

}

.grupocrp1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 370px;
height: 300px;
gap: 2px;
list-style-type: none; 
background-color: beige;
border: solid,3px,orange;
border-radius: 15px;
padding: 5px;
margin-top: 15px;
}
.grupocrp2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 370px;
height: 300px;
gap: 2px;
list-style-type: none;
background-color: beige;
border: solid,3px,orange;
border-radius: 15px;
padding: 5px;
margin-top: 15px;

}

.grupocrp3 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 370px;
height: 300px;
gap: 2px;
list-style-type: none;
background-color: beige;
border: solid,3px,orange;
border-radius: 15px;
padding: 5px;
margin-top: 15px;
}


.liOff {
color: red;
}

.liOn {
color: green;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.temporizador {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 245px;
height: 245px;
border: solid,4px, orange;
border-radius: 50%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blue;
background-color: yellow;
margin-top: 15px;
}

.botonestmp {
color: white;
background-color: coral;
border: solid,2px, orange;
border-radius: 5px;
cursor: pointer;
width: 65px;
height: 25px;
margin-top: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 0.9rem;
transition: transform 0.1s ease, 
box-shadow 0.1s ease, 
background-color 0.3s ease, 
color 0.3s ease;
}

.botonestmp:active {
  transform: scale(0.75);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.botonestmp:hover {
  background-color: lightgreen; 
  color: darkgreen; 
  border: solid,2px, green;
}



.botonOff {
background-color: #FF7777;
color: yellow;
height: 40px;
border: solid, 5px, red;
border-radius: 5px;
width: 350px; 
cursor: pointer;
transition: box-shadow 0.1s ease;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1rem;
}

.botonOff:hover {
box-shadow: 0 4px 14px rgba(255, 0, 0, 0.9); 
}


.botonOn {
background-color: green;
color: yellow;
height: 40px;
border: solid, 5px, lightgreen;
border-radius: 5px;
width: 350px; 
cursor: pointer;
transition: box-shadow 0.1s ease;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1rem;
font-weight: bold;
}

.botonOn:hover {
box-shadow: 0 8px 14px rgba(0, 128, 0, 0.6);
}

.botones33 {
display: flex; 
justify-content: space-around; 
gap: 20px; 
padding: 20px;
flex-wrap: wrap; 
margin-top: 2%;
}

.columna11 {
display: flex;
flex-direction: column; 
gap: 10px; 
width: 30%; 
Flex:1; 
margin-left: 1vw;
}

.checkb {
display: flex;
align-items: center; 
gap: 15px; 
width: 100%; 
}



.checkb input[type="checkbox"] {
width: 25px;
height: 25px;
border: 3px solid green; 
border-radius: 50%; 
appearance: none; 
outline: none; 
background-color: lightgreen; 
cursor: pointer;
}

.checkb input[type="checkbox"]:checked {
background-color: yellow;  
border: 3px solid red;
}



.almacenadolocal {
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
gap: 20px;
margin-top: 2%;
}

.lstexto {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blue; 
text-align: start;
line-height: 1.4rem;
background-color: lightblue;
font-size: 1.1vw;
border: solid,3px,blue;
border-radius: 5px;
padding: 20px;
max-width: 25vw; 
cursor: progress;
transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.lstexto:hover {
  background-color: blue; 
  color: white;              
  border-color: #4169E1;     
}


.lsboton1 {
width: 140px;
height: 140px;
border-radius: 50%;
border: solid,3px,green;
background-color: lightgreen;
color: darkgreen;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1rem;
box-shadow: 0 0 15px 5px #90ee90;
margin-right: 5px;
transition: transform 0.1s ease, 
box-shadow 0.1s ease, 
background-color 0.3s ease, 
color 0.3s ease;
cursor: pointer;
}

.lsboton1:active {
  transform: scale(0.75);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lsboton1:hover {
  background-color: green; 
  color: lawngreen; 
  border: solid,2px,lawngreen;
}

.lsboton2 {
width: 140px;
height: 140px;
border-radius: 50%;
border: solid,3px,red;
background-color: lightcoral;
color: red;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1rem;
box-shadow: 0 0 15px 5px #ff7f7f;
margin-left: 5px;
transition: transform 0.1s ease, 
box-shadow 0.1s ease, 
background-color 0.3s ease, 
color 0.3s ease;
cursor: pointer;
}

.lsboton2:active {
  transform: scale(0.75);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lsboton2:hover {
  background-color: red; 
  color: white; 
  border: solid,2px,#FF7777;
}


.piepagina {
display: flex;
justify-content: center;
align-items: center;
background-color: yellow;
height: 180px;
border: ridge,5px, orange;
border-radius: 20px;
margin: 0.5vw;
margin-top: 2%;
padding: 7rem;
}

.ftcentro {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.ftitulo1 {
margin: 0;
color: orange;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2.2vw;
}

.ftitulo2 {
margin: 5px;
color: wheat;
font-size: 1.8vw;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ftitulo6 {
margin: 5px;
color: wheat;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 0.7vw;
}

footer a {
  text-decoration: none;
}
